.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
}


.split-pane {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.icons{
    -fx-font-family: FontAwesome;
    -fx-font-size: 16px;
	-fx-fill: #0d3c61;
}

.button{
	-fx-font-weight:bold;
	-fx-background-color: #2196f3;
	-fx-font-size: 16;
	-fx-text-fill: white;
	-fx-background-radius: 0;
	
}

.button:hover{
	
	-fx-font-weight:bold;
	-fx-background-color: #f9f9f9;
	-fx-font-size: 16;
	-fx-text-fill: #2196f3;
	-fx-background-radius: 0;
	
	
}

.button:pressed{
	
	-fx-font-weight:bold;
	-fx-background-color: #1769aa;
	-fx-font-size: 16;
	-fx-text-fill: white;
	-fx-background-radius: 0;
	
}


.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}


.text-area {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-area:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}


